* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F0BCBC;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background: #F1DBDB;
    width: 600px;
    height: 700px;
    border-radius: 30px;
    position: relative;
    filter: drop-shadow(0 4px 4px #000000)

}

.name{
    display: flex;
    justify-content: start;
    margin: 68px 18px 15px 18px;
    font-size: 24px;

}
.task{
    position: relative;
    left: 17px;

}
.add {
    background: #FFFFFF;
    width: 555px;
    height: 47px;
    border-radius: 5px;
    padding-left: 15px;
    border: none;
    outline: none;
    color: #000000;
}

.task form button{
    background: linear-gradient(#07FDFD, #4D69FE, #CC00FF);
    position: relative;
    padding: 0px 60px 0 30px;
    left: 465px;
    top: -47px;
    width: 55px;
    height: 47px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.count ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.count ul li{
    padding: 10px 135px 10px 10px;
    background: #FFFFFF;
    list-style-type: none;
}

.added-tasks ul{ 
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.added-tasks ul li{
    background: #FFFFFF;
    list-style-type: none;
    padding: 10px 15px 10px 10px;
    margin: 10px 12px 0 13px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.icons{
    display: flex;
    gap: 15px;
}

.completed{
    text-decoration: line-through;
    color: grey;
}

.newEdit{
    border: none;
    outline: none;
}